.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 15px;
    color: var(--color-gray);
}

.recommended-friends span {
    display: block;
    margin: 100px 0px;
    text-align: center;
    color: black;
}

.keyword {
    display: flex;
    justify-content: space-between;
    margin: -30px 30px;
}


.keyword span {
    background-color: #e2e2e2;
    padding: 13px 20px;
    border-radius: 30px;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
    margin-bottom: 25px;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
    color: var(--color-gray);
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top:7px;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    margin-right: 5px;
}

.open-post__members-count {
    color: var(--color-gray);
    font-size: 14px;
}

.open-post__members .divider {
    width: 2px;
    height: 15px;
    background-color: var(--color-gray);
    margin: 5px;
}

.open-post__members-status {
    color: var(--blue);

}

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}


.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    opacity: 70%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
}

.open-post__heart-count span {
    margin-left: 3px;
}

@keyframes heartBeat{
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: tomato;
        transform: scale(2.3);
    }
    100%{
        color: white;
        transform: none;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}