.more-screen .icon-row {
    margin-top: 35px;
    padding-bottom: 40px;
}

.more-suggestions {
    margin-top: 15px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestions__title {
    margin-bottom: 20px;
}

.more-suggestions__icons {
    display: flex;
}

.more-suggetstions__icon {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestions__icon-imgs img{
    width: 65px;
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.more-suggestions__icon-imgs{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.more-suggestions__icon-imgs i {
    font-size: 50px;
    color: black;
}

.more-suggestions__icon-text {
    margin-top: 5px;
}

.nav__btn span i{
    color: var(--blue);
}