.settings__setting {
    padding: 20px 0px;
    border-bottom: var(--main-border);
    font-size: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.settings__setting i {
    margin-right: 13px;
    font-size: 20px;
    opacity: 0.8;
}
z
.settings__setting-column:last-child {
    opacity: 0.5;
}